@import '../../styles/Variables.scss';

.page-contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .page-contacts-box{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        font-size: 2rem;
        color: map-get($txt-colors , "primery");
        .contact-box{
            height: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            &__img{
                width: 30px;
            }
        }
    }
}