@import 'Variables.scss';
@import 'Reset.scss';

#root{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 1400px;
    &_page{
        padding-top: 50px;
    }
}

.title-block{
    padding: 10px 40px;
    border-bottom: 2px solid map-get($txt-colors , "primery");
    font-size: 2.0rem;
    font-weight: 500;
    color: map-get($txt-colors , "primery");
}
.btn{
    margin: 40px 0;
    padding: 10px 20px;
    border-radius: 25px;
    &_important{
        border: 1px solid map-get($bgc-colors , "important") !important;
        background-color: map-get($bgc-colors , "important") !important;
        cursor: pointer;
        &:hover{
            border-color: map-get($bgc-colors , "hover") !important;
            background-color: map-get($bgc-colors , "hover") !important;
            color:  map-get($txt-colors , "secondary") !important;
        }
        &:active{
            border-color: map-get($bgc-colors , "active") !important;
            background-color: map-get($bgc-colors , "active") !important;
        }
    }
} 