//text colors

$txt-colors: (
    "primery": #000,
    "secondary": #fff,
    "hover": #fff,
    "active": #fff,
    "important": #fff,
);

//bacgraund colors

$bgc-colors: (
    "primery": #000,
    "secondary": #fff,
    "hover": #fff,
    "active": #fff,
    "important": #fff,
);
//bacgraund colors

$bgc-colors: (
    "primery": #000,
    "secondary": #fff,
    "hover": #fff,
    "active": #fff,
    "important": #fff,
);
