@import '../../styles/Variables.scss';

.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 100px;
    &-menu{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 35px;
        font-size: 1.3em;
        text-transform: capitalize;
        color: map-get($txt-colors, "primery" );
        &__item{
            &:hover{
                color: map-get($txt-colors, "hover" );
            }
        }
        
    }
    .language-panel{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        &__btn{
            padding: 8px;
            border-radius: 6px;
            background-color: map-get($bgc-colors, "secondary" );
            color: map-get($txt-colors, "primery" );
            font-weight: 600;
            cursor: pointer;
            &:hover{
                background-color: map-get($bgc-colors, "hover");
                color: map-get($txt-colors, "secondary" );
            }
            &:active{
                background-color: map-get($bgc-colors, "active");
                color: map-get($txt-colors, "secondary" );
            }
        }
    }

}
.nav-active{
    color: map-get($txt-colors, "secondary" );
}