@import '../../styles/Variables.scss';

.app-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 500;
    font-style: italic;
    background-color: map-get($bgc-colors , "secondary");
    color: map-get($txt-colors , "important");
    .container{
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        a:hover{
            color: map-get($txt-colors , "primery");
        }
    }
}