@import '../../styles/Variables.scss';

.about-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &-txt{
        width: 600px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        font-size: 2em;
        text-align: justify;
        color: map-get($txt-colors, "primery");
        .btn{
            align-self: center;
        }
        &_important{
            color: map-get($txt-colors, "important");
        }
        .title-block{
            align-self:flex-start;
        }
    }
    &_img{
        width: 50%;
    }
   
}